//Defines the default styling for how that element should look in all
//occurances of the page. (margin, padding, color etc.)

//All index
html
  height: 100%
  width: auto

body
  width: 100%
  height: 100vh

.container-fluid
  padding: 0

.row
  height: inherit
  margin: auto

.col-sm-12
  width: 100%
  height: inherit
  margin-right: 0
  margin-left: 0
  padding-right: 0
  padding-left: 0

.greetLight
  padding: 0
  width: 100%
  margin: auto
  height: 30vh
  width: 100%
  text-align: center
  background-color: $background-light
  order: 1

.greetDark
  height: 60vh
  width: 100%
  background-color: $background-dark
  order: 2

.greetName
  width: 100%
  font-size: 26px
  text-align: center
  font-family: $choosenFont

.wordContainer
  display: flex
  align-items: center
  justify-content: center
  padding: 2em

.introP
  font-size: 1.875rem
  line-height: 1.4
  margin-bottom: 0
  text-align: center
  font-family: $choosenFont

@media (max-width: 1225px)

  .jumbotron
    margin-bottom: 0

  .introP
    margin: auto

  .greetLight
    height: auto

  .greetDark
    height: 73vh

@media (max-width: 770px)
  .introP
    font-size: 1.5rem
    line-height: normal

@media (max-width: 500px)
  .greetDark
    height: auto

@media (max-width: 375px)
  .jumbotron-fluid
    padding: 0.5em

  .introP
    padding: 0
    margin: auto
    font-size: 1rem
    line-height: 1.25rem

  .greetDark
    height: auto
//All contact
.mommaContainer
  display: flex
  flex-flow: column
  height: 90%
  overflow: hidden

.contactBox
  background-color: $background-light
  display: flex
  margin: auto
  text-align: center
  height: auto
  padding: 2em

.contactP
  font-family: $choosenFont
  font-size: 1.25rem
  line-height: 1.5
  margin-bottom: 0
  text-align: center

@media (max-width: 1225px)
  .mommaContainer
    height: 90.85%

  .contactP
    line-height: normal
    margin: auto

  .contactBox
    height: auto

  .Emailicon
    margin-top: .5em
    margin-bottom: .5em

@media (max-width: 760px)
  .contactP
    font-size: 1rem
    line-height: 1.25rem

@media (max-width: 375px)
  .contactP
    line-height: normal
    font-size: .85rem

@media (max-width: 320px)
  .Emailicon
    height: 50px

  .contactP
    font-size: .75rem



//All About Me
.aboutMe
  background-color: $background-light
  width: 100%

.aboutMeTitle
  display: flex
  justify-content: center

.aboutMeContent
  background-color: $background-dark

.firstRow
  display: flex
  flex-direction: row
  max-width: 100%

.PhotoR
  order: 1
  width: 20%
  margin: 0
  margin: 1em
  text-align: center

.resume
  font-family: $choosenFont

.Achievements
  order: 2
  margin: 1em
  width: 40%

.listItems
  font-family: $choosenFont
  font-size: 1.25rem
  line-height: 1.5
  margin-bottom: 0

  &.Special
    cursor: pointer

.subItems
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"
  font-size: 1rem
  font-weight: 400
  line-height: 1.5
  color: #212529
  cursor: pointer

.subItems:hover
  color: blue
  text-decoration: underline
  opacity: .4

.subItems.superSub
  color: black
  text-decoration: none
  opacity: 1

.pubLink
  text-decoration: none
  color: black

.codingCertificates
  order: 3
  margin: 1em
  width: 40%

.listItems:hover img
  display: block

@media (max-width: 1025px)
  .firstRow
    flex-wrap: wrap

  .PhotoR
    width: 100%
    margin: 0.5em
    padding: 0
    order: 1

  .Achievements
    margin: 0.5em
    padding: 0
    width: 50%
    flex: 1

  .codingCertificates
    margin: 0.5em
    padding: 0
    width: 50%
    flex: 1

@media (max-width: 760px)
  .firstRow
    flex-direction: column

  .display-4
    font-size: 2.5rem

  .listItems
    font-size: 1rem

  .PhotoR
    width: 100%
    margin: auto
    order: 1

  .Achievements
    width: 100%
    order: 2
    margin: auto

  .codingCertificates
    width: 100%
    order: 3
    margin: auto

.secondRow
  display: flex
  flex-direction: row

.goalP
  width: 33.3%
  order: 1
  margin: 1em
  margin-left: 1.5em

.goalC
  order: 2
  width: 33.3%
  margin: 1em

.goalI
  order: 3
  width: 33.3%
  margin: 1em

@media (max-width: 760px)
  .secondRow
    flex-direction: column

  .goalP
    width: 100%
    order: 1
    margin: auto

  .goalC
    order: 2
    width: 100%
    margin: auto

  .goalI
    order: 3
    width: 100%
    margin: auto


.thirdRow
  display: flex
  flex-direction: row
  width: 100%
  overflow: auto

.Hobbies
  order: 1
  width: 30%
  margin: 1em
  margin-left: 1.5em

.carousel.slide
  display: flex

.carousel
  order: 2
  width: 70%
  margin-top: 1em
  margin-bottom: 1em
  margin-left: none
  margin-right: 1em
  border-width: 5px
  border-color: black
  border-style: solid

.carousel-inner
  height: 100%

.carousel-item
  width: auto
  height: 100%
  max-height: 100%

@media (max-width: 1025px)
  .thirdRow
    flex-direction: column

  .Hobbies
    width: 100%
    margin: auto

  .carousel
    margin: auto
    margin-bottom: .5em
    width: 95%

@media (max-width: 760px)

  .Hobbies
    width: auto

  .carousel
    margin: auto
    margin-bottom: .25em

  .carousel-item img
    width: auto
    height: 300px
    max-height: 300px

  .dropdown-menu
    width: 90%
    word-wrap: break-word

  .dropdown-menu > li
    white-space: normal


//All Projects

.projects
  background-color: $background-light
  width: 100%

.webDev
  background-color: $background-dark

.projectHeader
  margin-left: .75em

.webDevInner
  display: flex
  flex-direction: row
  flex-wrap: wrap

.card
  margin: .5em
  border-width: 2px
  border-color: black
  border-style: solid
  border-radius: 7px

@media (max-width: 760px)

  .projectHeader
    text-align: center
    margin: auto

  .card
    margin: auto
    margin-top: .25em
    margin-bottom: .25em
